node_modules/
dist/
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
*.apk
.DS_Store
screenshots/
music/
pixel_art/
sound_effects/
.env
.env.local
*.env
